@import '../mixins/mixins';

/* ==================  All Issue Part Start  ================== */
#all_issue{
    .all_issue_card_box{
        .issue_content{
            display: flex;
            .issue_img{
                width: 75px;
                margin: 0 25px 0 0;
                img{
                    width: 100%;
                    max-width: 100%;
                }
            }
            .issue_text{
                align-self: center;
                a{
                    display: block;
                    h4{
                        @include text(16px,600,$hover);
                        padding: 5px 0;
                        text-transform: uppercase;
                    }
                }
                span{
                    @include text(15px,400,#333);
                    i{
                        color: $hover;
                        margin-right: 5px;
                    }
                }
                p{
                    @include text(14px,400,#000);
                    padding: 5px 40px 0 0;
                    line-height: 24px;
                }
            } 
        }
    }

    .paginate{
        .Page{
            .pagination{
                margin: -3px;
                list-style: none;
                overflow: hidden;
                padding-left: 0;
                .page-item{
                    padding: 3px;
                    float: left;
                    .page-link{
                        min-width: 40px;
                        height: 40px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        font-size: 14px;
                        border-radius: 0;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        color: #252525;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        border: 1px solid #eeeeee;
                        font-weight: 500;
                    }
                    &.active{
                        .page-link{
                            color: #ffffff;
                            border-color: $hover;
                            background-color: $hover;
                        }
                    } 
                }
            } 
        } 
    }
    .issue_filter_fix{
        position: sticky;
        left: 0;
        top: 75px;
        width: 100%;
        transition: ease .3s;
        animation: topTobottom .5s;
    }
    .issue_filter{
        h6{
            font-size: 15px;
            font-weight: 600;
            color: #333;
            margin-top: 6px;
        }
        label{
            display: block;
            text-align: right;
            @include text(14px,300,#000);
        }
        .form-select{
            padding: .45rem 2.7rem .45rem .9rem;
            padding-top: 0.45rem;
            padding-bottom: 0.45rem;
            font-size: .9rem;
            font-weight: 400;
            line-height: 1.5;
            color: #7d8a91;;
            border: 1px solid #7d8a91;;
            border-radius: .25rem;
            -webkit-appearance: none;
            appearance: none;
            &:focus{
                box-shadow: none;
                border-color: $hover;
            }
            
        }
        
    }
}

/* ==================  All Issue Part End  ================== */