@import '../mixins/mixins'; 

/* ==================  Team  Content Part Start  ================== */
#team{
    .team_card{
        .teamer_image{
            position: relative;
            overflow: hidden;
            .ovrly{
                position: absolute;
                top: 0;
                right: 0;
                width: 80px;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                transform: translateX(80px);
                transition: all linear .3s;
                ul{
                    padding-top: 30px;
                    li{
                        text-align: center;
                        a{
                            font-size: 20px;
                            color: #fff;
                            width: 40px;
                            height: 40px;
                            border: 1px solid #fff;
                            border-radius: 50%;
                            line-height: 40px;
                            margin-bottom: 20px;
                            transition: all linear .2s;
                        }
                    }
                }
            }
        }
        .teamer_info{
            text-align: center;
            h4{
                @include text(18px,700,#333);
                padding: 3px 0;
            }
            span{
                @include text(14px,500,#333);
                padding: 3px 0;
                text-transform: uppercase;
            }
            p{
                @include text(14px,400,#000);
                padding: 3px 0;
            }
        }

        &:hover{
            box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
            .teamer_image{
                .ovrly{
                    transform: translateX(0px);
                    ul{
                        li{
                            a:hover{
                                background: $hover;
                                border-color: $hover;
                            }
                        } 
                    } 
                }
            }
            .teamer_info{
                h4{
                    color: $hover;
                }
            }

        }
    }
}

#otherteam{
    .team_card{
        width: 60%;
        @include transition();
        .otherteamer_info{
            .details{
                h4{
                    @include text(15px,600,#333);
                    margin-bottom: 5px;
                    @include transition();
                }
                span{
                    @include text(14px,400,#333);
                    margin-bottom: 5px;
                }
                p{
                    @include text(15px,400,#000);
                    margin-bottom: 5px; 
                    width: 500px;
                }
            }
            .social{
                display: flex;
                justify-content: end;
                transform: scale(0);
                @include transition();
                li{
                    margin-left: 25px;
                    position: relative;
                    a{
                        color: #333;
                        @include transition();
                        &:hover{
                            color: $hover;
                        }
                    }
                    &::after{
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 20px;
                        top: 2px;
                        left: -12px;
                        background: #333;
                    }
                    &:first-child{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }

        &:hover{
            width: 100%;
            box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
            .otherteamer_info{
                .details{
                    h4{
                        color: $hover;
                    }
                }
                .social{
                    transform: scale(1);
                }
            }
        }
    }
}

/* ==================  Team  Content Part End  ================== */